@use "../utils";


.hero {
   

    &__wrapper{
        padding-bottom: 80px;
        border-bottom: 1px solid var(--text2) ;
    }

    &__image{
         position: absolute; // When things overlapped something needs to be position absolute. 
        // Margin inline : auto not work for absolute position elements, this is another workaround. 
        left: 50%;  // Put the image 50% of the parent element. 
        translate: -50%; // And translate 50% of the size of the element, this make the element will be "center" 
        top: 0;
        outline: 2px solid lime;
    }

    &__text{
        text-align: center;
        margin-top: 335px; // To be under the image   math: image height + size to text  - header height if needs that size change this need to be with javascript
        position: relative;
    }

    &__mark{
        background-image: linear-gradient(to right, var(--accent) 75%, var(--accent) 75%);
        background-position: 0 1.18em;
        background-repeat: repeat-x;
        background-size: 8px 4px;
        // Could use border, but is not equal to design, in question of bottom space. This solution is from css tricks
    }

    &__headline{
        margin-bottom: 20px; // Not rems, the spacing matter

        @include utils.breakpoint-up(medium) {
            margin-bottom: 60px;
        }
        @include utils.breakpoint-up(large) {
            margin-bottom: 43px;
        }
    }

    &__description{

    }

    &__contact{

    }

}